{{! usage: link to="namepath" html=true/false caption="optional caption"~}}

{{~#if html~}}
[.code]`

{{~#link to~}}
{{#if url~}}
<a href="{{{url}}}">{{#if ../../caption}}{{../../../caption}}{{else}}{{name}}{{/if}}</a>
{{~else~}}
{{#if ../../caption}}{{../../../caption}}{{else}}{{name}}{{/if~}}
{{/if~}}
{{/link~}}

`
{{~else~}}

{{#link to~}}
{{#if url~}}
link:{{{url}}}[`{{#if ../../caption}}{{escape ../../../caption}}{{else}}{{escape name}}{{/if}}`]
{{~else~}}
`{{#if ../../caption}}{{escape ../../../caption}}{{else}}{{escape name}}{{/if~}}`
{{~/if~}}
{{/link~}}

{{/if~}}
